{% extends 'base.html.twig' %}

{% block title %}Edit Meteo{% endblock %}

{% block body %}
    <h1>Edit Meteo</h1>

    {{ include('meteo/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('meteo_index') }}">back to list</a>

    {{ include('meteo/_delete_form.html.twig') }}
{% endblock %}