{% extends 'base.html.twig' %}

{% block title %}New Meteo{% endblock %}

{% block body %}
    <h1>Create new Meteo</h1>

    {{ include('meteo/_form.html.twig') }}

    <a href="{{ path('meteo_index') }}">back to list</a>
{% endblock %}